.container {
  min-height: 100vh;
  display: flex;
  margin: auto 0;

  align-items: center;
  justify-content: center;
}

.cardContainer {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 1 1 10px;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .card {
    margin: 10px 0;
  }
}
