.container {
  min-height: 100vh;
  display: flex;
  margin: auto 0;
  align-items: center;
  justify-content: center;
  @apply m-auto w-auto max-w-[650px] min-h-fit bg-container rounded;
}

.content {
  align-self: center;
  min-width: fit-content;
  max-width: 1440px;
  background-color: white;
  margin: 40px auto;
  border-radius: 5px;
  padding: 40px;
}

.title {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

.inputRow {
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.inputRow label {
  display: inline-block;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
}

.inputRow input,
.inputRow textarea,
.inputRow select {
  background-color: #eee;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 0;
  text-align: left;
}

.textareaRow {
  display: flex;
  align-items: center;
}

.inputRow input[type="submit"] {
  color: green;
}

.inputRow input[type="number"] {
  width: 100%;
  max-width: 100%;
}

.inputRow input[type="file"] {
  font-size: 14px;
}

.weightHeight {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

.isAtivo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  margin-top: 25px;
}

.required::after {
  content: "*";
  color: #6e0a0a;
  font-size: 1rem;
  vertical-align: top;
}

.displayError {
  display: block;
  padding-left: 200px;
  color: red;
}

.displayErrorWidthHeight {
  padding: 0;
}

.avatar {
  width: max-content;
  height: 300px;
  text-align: center;
}

.avatar > label {
  width: 250px;
  height: 250px;
}

.avatar > label > p {
  font-size: 1rem;
  text-align: center;
}

.avatar > label > img {
  border-radius: 50%;
  /* border: 3px solid rgb(0, 0, 0); */
  width: 250px;
  height: 250px;
  cursor: pointer;
  margin-top: 20px;
}

.avatar > input {
  display: none;
}

/* Tablet */
@media (max-width: 700px) {
  .content {
    max-width: 90%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .displayError {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .inputRow label {
    font-weight: 500;
  }

  .avatar label {
    width: max-content;
  }

}

/* Mobile */
@media (max-width: 450px) {
  .content {
    background-color: rgb(255, 255, 255);
    padding: 35px 20px;
    margin: 0 auto;
    width: 100%;
    min-width: initial;
  }

  .title {padding-bottom: 0px;}

  .inputRow {gap: 5px; margin: 5px auto;}

  .inputRow label {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .required::after {
    content: "*";
    color: rgb(110, 10, 10);
    vertical-align: top;
  }
}
