@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.max-container {
  @apply mx-auto max-w-[1440px];
}

.form-container {
  background-color: #fff;
  max-width: 1440px;
  min-height: calc(100vh - 110px);
  padding: 40px;
  margin: 40px auto;
  box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 1440px) { 
  .max-container {
    @apply mx-auto max-w-full w-full px-3;
  }
}

@media (max-width: 600px) {
  .form-container {
    margin: 40px 10px;
  }
}

/* Dark shadow above the background */
.bg_shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: right;
  /* Prevents the margin of child to explode the parent (this) */
  overflow: auto;
}

@layer utilities {
  .btn_default {
    @apply bg-black py-[10px] px-[60px] rounded-md font-bold uppercase cursor-pointer block text-base text-center text-white;
  }

  .btn_red {
    @apply bg-[#C90B00] py-[10px] px-[60px] rounded-md font-bold uppercase cursor-pointer block text-base text-center text-white;
  }

  .btn_white {
    @apply bg-white py-[10px] px-[60px] rounded-md font-bold uppercase cursor-pointer block text-base text-center text-black;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 100vh;
    border: 3px solid #f7f4ed;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out;
}


/* Forms */

.btnSubmit {
  margin: 20px auto;
  background-color: #000;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.btnSubmit[disabled=""] {
  background-color: #ccc;
  border: 1px solid #ccc;
}

textarea {
  height: 10em;
}

select {
  cursor: pointer;
}

input {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
}

input[type="date"] {
  cursor: pointer;
}
