@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.max-container {
  @apply mx-auto max-w-[1440px];
}

/* Dark shadow above the background */
.bg_shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: right;
  /* Prevents the margin of child to explode the parent (this) */
  overflow: auto;
}

@layer utilities {
  .btn_default {
    @apply bg-black py-[10px] px-[60px] rounded-md font-bold uppercase cursor-pointer block text-base text-center text-white;
  }

  .btn_red {
    @apply bg-[#C90B00] py-[10px] px-[60px] rounded-md font-bold uppercase cursor-pointer block text-base text-center text-white;
  }

  .btn_white {
    @apply bg-white py-[10px] px-[60px] rounded-md font-bold uppercase cursor-pointer block text-base text-center text-black;
  }
}

/* Forms */

.btnSubmit {
  margin: 20px auto;
  background-color: #000;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.btnSubmit[disabled=""] {
  background-color: #ccc;
  border: 1px solid #ccc;
}

textarea {
  height: 10em;
}

select {
  cursor: pointer;
}

input[type="date"] {
  cursor: pointer;
}
