.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.photoBg {
  width: 100px;
  height: 100px;
  background-color: #5f0404;
  border: 2px solid #350202;
  border-radius: 50%;
}

.photo {
  position: absolute;
  z-index: 1;
  width: 130px;
  height: 130px;
  transform: translateY(-20px);
  font-size: 12px;
}

/* Styling the img alternative text that is displayed when the image fails */
.photo::before {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: calc(50% - 25px);
  width: 60px;
  height: 50px;
  overflow: scroll;
  color: #fff;
}

.nameContainer {
  background-color: #5f0404;
  text-align: center;
  z-index: 2;
  overflow: scroll;
  box-sizing: border-box;
  border: 2px solid #3b0101;
  border-radius: 10px;
  transform: translateY(-15px);
  height: 2.3rem;
  width: 7.2rem;
}

.nameContainer > p {
  font-weight: 600;
  color: white;
  max-width: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
}

.photoBgBig {
  width: 200px;
  height: 200px;
  background-color: #5f0404;
  border: 2px solid #fff;
  border-radius: 50%;
}

.photoBig {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  transform: translateY(-40px);
}

.photoBig::before {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  overflow: scroll;
  color: #000;

  text-shadow: 1px 0 0 white, 0 1px 0 white, -1px 0 0 white, 0 -1px 0 white;
}

.nameContainerBig {
  background-color: #5f0404;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid;
  text-align: center;
  z-index: 2;
  overflow: scroll;
  transform: translateY(-30px);
  height: 3rem;
  width: 15rem;
}

.nameContainerBig > p {
  font-weight: 600;
  color: rgb(255, 255, 255);
  max-width: 15rem;
  min-height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
